@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}

@font-face {
    font-family: ArchivoBlack;
    src: url("../docs/ArchivoBlack-Regular.ttf");
}

.pagebody {
    font: 1.5vw/1.6vw Roboto;
    background-color: solid ivory;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border: 0;
}

/*Sidebar Styling. */

.sidebar {
    flex-direction: column;
    justify-content: space-between;
    background-color: #dce9cf;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    border-right: 0.2vw solid #90ad97;
    position: fixed;
}

.sidebarlogo {
    width: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.sidebarlogo:after {
    content: "";
    display: block;
    padding-bottom: 100%; /*this keeps sidebar logos the same size.*/
}


#currentpage {      /* this makes the active page highlighted in a different colour on the sidebar.*/
    background-color: #7f9882;
}

.noncurrent:hover { /* Changes sidebar colour on hover.*/
    background-color: #a1cab0;
}

.bodyorganisation {
    display: flex;
    flex-direction: column;
    transform: translateX(5.35vw);
}

#aboutmesection {
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
}

#profilephoto {
    width: 18%;
    height: 100%;
    border-radius: 2.5vw;
    margin-left: 1vw;
    margin-top: 0.8%;
}


.aboutmeheaders {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    font-size: 2.7vw;
    font-family: ArchivoBlack;
    color: #7f9882;
}

#thisisme {
    padding-bottom: 2%;
}

h2 {
    margin-left: 4%;
    font-size: 3.8vw;
    color: #6f8171;
}

h3 {
    margin-left: 4.4%;
    margin-bottom: 3%;
    font-size: 2vw;
    color: #6f8171;
}

#p-resume {
        margin-left: 4.4%;
        margin-bottom: 3%;
        font-size: 1.5vw;
        color: #6f8171;
}


/* Animations for slow page reveal. */
@keyframes reveal {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes contentreveal {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.contentsection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 8%;
}

/* Code for the styling/placement of the sets of three boxes - present in the about me page and contacts page. */
.skillboxes {
    background-color: #dce9cf;
    border: 0.15vw solid #6b675a;
    width: 16%;
    text-align: center;
    overflow-wrap: break-word;
}

h4 {
    margin-top: 3%;
    margin-bottom: 1.8%;
    font-size: 2vw;
    color: #6b675a;
}

.skillphoto {
    width: 13.5vw;
    border-radius: 6%;
}

.skilltext {
    color: #4e4c45; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

#resume { /* styling for resume.*/
    width: 22vw;
    margin-left: 4%;
    margin-bottom: 10%; 
}

/* styling for footer/credits. */

footer {
    background-color: #566658;
    color: #1e1f1e;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    border-top: 0.2vw solid #90ad97;
    margin-left: -0.6%;
    padding-left: 1%;
}

.credits {
    font-size: 0.8vw;
    padding-left: 1%;
}

.credits:link {
    color: #a0ac97;
}

.credits:hover {
    color: #80a365
}

.credits:visited {
    color: #7b8574
}

.credits:active {
    color: #e5fcd4;
}

/* styling for the blog articles */
.blogarticle {
    padding-top: 5vw;
    padding-bottom: 2vw;
    border-bottom: 0.2vw solid #90ad97;
}

.blogimages {
    width: 65vw;
}

.blogcontent {
    display: flex;
    width: 62vw;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.blogspan {
    color:#a0ac97;
    font-size: 1.5vw;
}

/* responsiveness for various screen sizes, specifically phone screens */

@media screen and (max-width: 600px) {
    .bodyorganisation {
        margin-top: 16%;
        transform: translateX(0vw);
    }
    .sidebarlogo {
        width: 9vw;
        align-self: center;
        padding-top: 0.8vh;
        padding-bottom: 1.5vh;
        padding-left: 0.3vw;
        padding-right: 0.3vw; 
    }
    .sidebar {
        position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #dce9cf;
        margin-bottom: 5%;
        padding-bottom:6%;
        width: 100%;
        height: 3%;
        border-bottom: 0.2vw solid #90ad97;
        
    }
    .contentsection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8%;
    }
    h2 {
        font-size:6vw;
        text-align: center;
        margin-left: -0.7vw;
    }
    h3 {
        font-size: 3.8vw;
        text-align: center;
        margin-left: -0.8vw;
    }
    .aboutmeheaders {
        font-size: 3vw;
        line-height:100%;
    }

    h4 {
        font-size: 3.6vw;
    }
    .skillboxes {
        background-color: #dce9cf;
        border: 0.15vw solid #6b675a;
        margin-bottom: 2%;
        width: 80%;

    }
    .skillphoto {
        width: 40%;
        border-radius: 6%;
    }
    .skilltext {
        margin-top: 1vh;
        line-height: 100%;
        font-size: 3.2vw;
    }
    #profilephoto {
        margin-left: 8vw;
    }

    #p-resume {
        font-size: 3vw;
        line-height: 100%;
        text-align: center;
        margin-left: -0.5vw;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
    }

    #resume {
       padding-left: 35vw;
    }

    .credits {
        font-size: 2vw;
        line-height: 100%;
    }

    .blogimages {
        width: 76vw;
        padding-left: 3vw;
    }
    
    .blogcontent {
        display: flex;
        width: 62vw;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 10vw;
        text-align: center;
        font-size: 3vw;
        line-height: 100%;
    }
    
    .blogspan {
        color:#a0ac97;
        font-size: 2vw;
    }
    

}

@media screen and (min-width: 2000px) {
    .sidebarlogo {
        width: 3vw;
    }
    
    #profilephoto {
        width: 13vw;
        height: 100%;
    }
    
    .aboutmeheaders {
        margin-top: 4%;
        font-size: 1.8vw;
    }

    #aboutmesection {
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
    }
    
    h2 {
        margin-left: 4%;
        font-size: 2vw;
        color: #6f8171;
        margin-bottom: 0;
    }
    
    h3 {
        margin-left: 4.2%;
        margin-bottom: 2.5%;
        font-size: 1.3vw;
    }

    .contentsection {
        margin-bottom: 4%;
    }
    
    .skillboxes {
        background-color: #dce9cf;
        border: 0.15vw solid #6b675a;
        width: 12%;
        text-align: center;
        overflow-wrap: break-word;
    }
    
    h4 {
        margin-top: 3%;
        margin-bottom: 1.8%;
        font-size: 1.6vw;
        color: #6b675a;
    }
    
    .skillphoto {
        width: 8.91vw;
        border-radius: 6%;
    }
    
    .skilltext {
        font-size: 1vw;
    }
    
    #resume { /* styling for resume.*/
        width: 14.52vw;
        margin-left: 4%;
        margin-bottom: 10%; 
    }

    #p-resume {
        font-size: 1vw;
    }
    .credits {
        font-size: 0.5vw;
        line-height: 100%;
    }

    footer {
        background-color: #566658;
        color: #1e1f1e;
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        border-top: 0.2vw solid #90ad97;
        margin-left: -1.6%;
        padding-left: 1%;
    }
    /* styling for the blog articles */
    .blogarticle {
        padding-top: 5vw;
        padding-bottom: 2vw;
        border-bottom: 0.2vw solid #90ad97;
    }
    
    .blogimages {
        width: 45vw;
    }
    
    .blogcontent {
        display: flex;
        width: 45vw;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
}
}
