@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}

@font-face {
    font-family: ArchivoBlack;
    src: url("../docs/ArchivoBlack-Regular.ttf");
}

.pagebody {
    height: 100vh;
    width: 100vw;
    font: 1.5em/1.6em Roboto;
    background-color: #b0a593;
    margin: 0rem;
    overflow: hidden;

}
h1 {
    align-self: center;
    font-size: 1.8em;
    font-family: ArchivoBlack;
    color: #2c3432;
}

#image-track > .image {
    width: 20vmin;
    object-fit: cover;
    object-position: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#image-track:hover > .image:not(:hover) {
    width:10vmin;
}





#image-track>.image:nth-of-type(even) {
    transform: translateY(-25%);
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 4%;
    right: 4%;
    max-width: 92%;
}

