/*  Colour Palette 

    #b0a593 - pastel cream
    #534540 - earthly brown
    #2c2b2b - sunset navy cloud
    #6f4d2a - soft orange brown
    #2c3432 - gentle lake dark green

*/

@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}

@font-face {
    font-family: ArchivoBlack;
    src: url("../docs/ArchivoBlack-Regular.ttf");
}

.pagebody {
    height: 100vh;
    width: 100vw;
    font: 1.5em/1.6em Roboto;
    background-color: #2c3432;
    /* background-color: #b0a593; */
    margin: 0rem;
    overflow: hidden;

}
h1 {
    align-self: center;
    font-size: 1.8em;
    font-family: ArchivoBlack;
    color: #b0a593;
    /* color: #2c3432; */
}

#image-track > .imgwrap > .image {
    width: 10vmin;
    height: 30vmin;
    object-fit: cover;
    object-position: center;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: ease 600ms;
    box-shadow: 4px 00px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

/* #image-track:hover > .image:not(:hover) {
    width:10vmin;
} */

#image-track > .imgwrap:hover > .image {
    width: 30vmin;
    height: 30vmin;
}


.imgtext {
    position: absolute;
    top: -1.9vmin;
    color: #b0a593;
    visibility: hidden;
    opacity: 0;
    transition: ease 380ms;
    transition-delay: 600ms;
    width: 30vmin;
    height:15vmin;
    background-color: rgba(44, 43, 43, 0.3);
    text-align: center;
    padding-top: 12vmin;
    padding-bottom: 3vmin;
    text-shadow: 2px 2px #6f4d2a;
}




.imgwrap:not(:hover) .imgtext {
    transition-delay: 0ms;
    transition: opacity 300ms;
}
.imgwrap:hover .imgtext {
    visibility: visible;
    opacity: 1;
}


#image-track > .image:hover + #image-track > .image:nth-of-type(even) {
    transform: translateY(0%);
}


#image-track > .imgwrap:nth-of-type(even) {
    transform: translateY(-40%);
}



#image-track {
    display: flex;
    justify-content: center;
    gap: 4vmin;
    position: absolute;
    width: 100%;
}

