@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}


.pagebody {
    font: 1.5vh/1.6vh Roboto;
    background-color: white;
}

.headers {
    background-color: aliceblue;
}