@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}

@font-face {
    font-family: ArchivoBlack;
    src: url(../docs/ArchivoBlack-Regular.ttf);
}

.pagebody {
    font: 1.5vh/1.6vh Roboto;
    background-color: solid ivory;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    border: 0;
}

.sidebar {
    flex-direction: column;
    justify-content: space-between;
    background-color: #dce9cf;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
    border-right: 0.2vw solid #90ad97;
}

.sidebarlogo {
    width: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 0.3vw;
    padding-right: 0.3vw;

}

.sidebarlogo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#currentpage {
    background-color: #7f9882;
}

.noncurrent:hover {
    background-color: #a1cab0;
}


#profilephoto {
    width: 19.5%;
    height: 26%;
    border-radius: 2.5vw;
    margin-left: 1vw;
}


.aboutmeheaders {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    font-size: 2.7vw;
    font-family: ArchivoBlack;
    color: #7f9882;
}

#thisisme {
    padding-bottom: 2%;
}

        /* Colour schemes :)
        Beige: #c8b7a6

        Perriwinkle: #7d94b5

        Dusty Rose: #c29591

        Maroon Brown: #703f37

        Muted Green: #b6c199  */