@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}

@font-face {
    font-family: ArchivoBlack;
    src: url("../docs/ArchivoBlack-Regular.ttf");
}

.pagebody {
    font: 1.5em/1.6em Roboto;
    background-color: #0C1A1A;

}

.bodyorganisation {
}


#aboutmesection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-inline: 5vw;
}


.aboutmeheaders {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 200%;
    align-self: center;
    font-size: 1.8em;
    font-family: ArchivoBlack;
    color: #7f9882;
}

.mask-container {
    position: relative;
}

.masksize {
    width: 25rem;
    border-radius: 25rem;
}

.colour-image {
    position: absolute;

    -webkit-mask-image: url('../docs/newimagemask.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: 0% 0%;
    mask-image: url('../docs/imagemask.png');
    mask-size: cover;
    mask-position: 0% 0%;


    transition:
        -webkit-mask-position 600ms steps(19);
    }


@keyframes addColour {
    0% {
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }
    100% {
        -webkit-mask-position: 100% 0%;
        mask-position: 100% 0%;
    }
}

@keyframes colourReveal {
    0% {
        color: #403a39;
    }
    80% {
        color: #403a39;
    }
    100% {
        color: #703f37;
    }
}

.line {
    margin-top: -17rem;

}

@keyframes dash {
    0% {
        stroke-dashoffset: 900;
    }
    100% {
        stroke-dashoffset: 0;
    }
  }

@keyframes rectangledash {
    0% {
        stroke-dasharray: 2200;
        stroke-dashoffset: -2200;
    }

    80% {
        stroke-dasharray: 2200;
        stroke-dashoffset: 0; 
        filter: drop-shadow(0rem 0rem 0rem rgba(0, 0, 0, 0));
        stroke: #6f8672;
    }
    100% {
        filter: drop-shadow(0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5)); 
        stroke-dasharray: 2200;
        stroke-dashoffset: 0; 
        stroke: #aecfb2;
    }
}

@keyframes hideRectangle {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;;
        /* !!!!!!!!!!!!!!!!!!!!!!!!!! */
    }
}

@keyframes showRectangle {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;;
    }
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
    justify-self: center;
    max-width: 800px;
}

#skillcard {
    width: 98vw;
    background-color: #0C1A1A;
    visibility: hidden;
    text-align: center;

}

#leftcard {
    transform: scale(0.8);
    transform-origin: 80rem;
    -webkit-mask-image: -webkit-gradient(linear, left center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

#rightcard {
    transform: scale(0.8);
    transform-origin: -52rem;
    z-index: -2;
    -webkit-mask-image: -webkit-gradient(linear, right center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.leftchevron {
    transition-property: scale, hue-rotate, saturate, brightness, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    width: 6rem;
    /* translate: 17rem -22.5rem; */
    filter: hue-rotate(215deg) saturate(90%) brightness(120%);
    opacity: 0.7;
}

.rightchevron {
    transition-property: scale, hue-rotate, saturate, brightness, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    width: 6rem;
    filter: hue-rotate(215deg) saturate(90%) brightness(120%);
    opacity: 0.7;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

#leftbutton {
    translate: 17rem -44.5rem;
}

#rightbutton {
    translate: 3.5rem -42rem;   
}


.leftchevron:hover {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%);
    scale: 1.1;
    opacity: 1;
}

.rightchevron:hover {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%);
    scale: 1.1;
    opacity: 1;
}

@keyframes chevron-hover {
    0% {
        filter: none;
    }
    100% {

    }
}

@keyframes textReveal {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-size: 3.8vw;
    color: #aecfb2;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
}

#skillheader {
    translate: 0 -40rem;
}

#skilltext {
    translate: 1rem -25rem;
    max-width: 24rem;
}

#rightheader {
    translate: -6rem -36rem;
    scale: 0.7;
    color: #686ea3;
    z-index: -4;
    position: relative;
    opacity: 0.4;
    -webkit-mask-image: -webkit-gradient(linear, right center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,15%)))
}

#righttext {
    scale: 0.8;
    translate: -8rem -25rem;
    max-width: 19rem;
    position: relative;
    z-index: -4;
    opacity: 0.4;
    -webkit-mask-image: -webkit-gradient(linear, right center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.1)))

}

#leftheader {
    translate: 18rem -36rem;
    scale: 0.7;
    color: #686ea3;
    z-index: -4;
    position: relative;
    opacity: 0.4;
    -webkit-mask-image: -webkit-gradient(linear, right center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,15%)))
}

#lefttext {
    scale: 0.8;
    translate: 16rem -25rem;
    max-width: 19rem;
    position: relative;
    z-index: -4;
    opacity: 0.4;
    -webkit-mask-image: -webkit-gradient(linear, right center, center center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.1)))

}

