@font-face { /* this uses a custom font, finds in the docs folder and names it Roboto */
    font-family: Roboto;
    src: url("../docs/Roboto-Regular.ttf");
}


.pagebody {
    font: 1.5vh/1.6vh Roboto;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
}


#openingpage { 
    height: 100vh;
    background-color: #0C1A1A;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: none;
    padding: none;
    border: none;
}

#openingcrawl {
    text-align: center;
    align-self: center;
    margin-right: 2%;
    width: 60vw;
    height: 7vh;
    font-size: 1.6vh;
    background-color: rgb(255, 255, 255);
    border: 2px groove rgb(148, 196, 199);
    padding: 0;


}

#openingtext {
    display: inline-block;
    white-space: nowrap;
    border-right: 0.3vw solid #0C1A1A;
    padding-right: 0.5vw;
    margin-top: 2vh;
    animation: blinking 1s infinite, typing 2.85s;
    overflow: hidden;
    color: #0C1A1A;
}

#search-reminder {
    margin-top: -1.2vh;
    font-size: 1vh;
    color: #0C1A1A;
    animation: reveal 5s;
}

/* This animation adds the blinking cursor in the search box. */
@keyframes blinking {
    25% {
        border-right: solid rgb(255, 255, 255);
    }
    
}


/* This animation has text scroll to the side, as if it was being typed. */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 33.5ch;
    }
}


/* This animation reveals the 'kindly press search' button as an indicator of how to proceed should any not know. */
@keyframes reveal {
    0% {
        color: rgb(255, 255, 255);
    }
    80% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: #566658;
    }
}

#search-button {
    align-self: center;
    text-align: center;
    height: 7vh;
    width: 7vw;
    font-size: 1.25vh;
}

/* All of below is responsiveness for various screen sizes. */

@media screen and (max-width: 870px) {
    #openingcrawl {
        width: 54vw;
        height: 12.5vh;
    }
    #openingtext {
        font-size: 1.8vh;
        margin-top: 4.5vh;
    }
    #search-reminder {
        font-size: 1.4vh;
        margin-top: -1.2vh;
    }
    #search-button {
        width: 13vw;
        height: 13vh;
    }
}

@media screen and (max-width: 630px) {
    #openingcrawl {
        width: 54vw;
        height: 12.5vh;
    }
    #openingtext {
        font-size: 1.6vh;
        margin-top: 4.5vh;
    }
    #search-reminder {
        font-size: 1.35vh;
        margin-top: -1.2vh;
    }
    #search-button {
        width: 13vw;
        height: 13vh;
    }
}

@media screen and (max-width: 500px) {
    #openingcrawl {
        width: 54vw;
        height: 12.5vh;
    }
    #openingtext {
        font-size: 1.4vh;
        margin-top: 4.5vh;
    }
    #search-reminder {
        font-size: 1.18vh;
        margin-top: -1.2vh;
    }
    #search-button {
        width: 13vw;
        height: 13vh;
    }
}

@media screen and (max-width: 450px) {
    #openingcrawl {
        width: 54vw;
        height: 12.5vh;
    }
    #openingtext {
        font-size: 1.2vh;
        margin-top: 4.5vh;
    }
    #search-reminder {
        font-size: 1.18vh;
        margin-top: -1.2vh;
    }
    #search-button {
        width: 13vw;
        height: 13vh;
    }
}